[Application]
name=DRAS-TIC
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=cli.drastic:main
# icon=myapp.ico

[Command drastic]
entry_point=cli.drastic:main

[Python]
version=3.5.2

[Include]
# Importable packages that your application requires, one per line
packages = docopt
    requests

# Other files and folders that should be installed
files = LICENSE
